.landingGrid {
  display: grid;
  grid-template-columns: repeat(5, calc(100vh / 3));
  grid-template-rows: repeat(3, calc(100vh / 3));
}


.hLine1 {
  position: absolute;
  top: calc(100vh / 3)
}

.hLine2 {
  position: absolute;
  top: calc(100vh / 3 * 2)
}

.vLine1 {
  position: absolute;
  left: 28px;
}

.vLine2 {
  position: absolute;
  left: calc(28px + 100vh / 3)
}

.vLine3 {
  position: absolute;
  left: calc(28px + 100vh / 3 * 2)
}

.vLine4 {
  position: absolute;
  left: calc(28px + 100vh / 3 * 3)
}

.vLine5 {
  position: absolute;
  left: calc(28px + 100vh / 3 * 4)
}

.vLine6 {
  position: absolute;
  left: calc(28px + 100vh / 3 * 5)
}

.vLine7 {
  position: absolute;
  left: calc(100vw - 28px)
}


.splane {
  transform: rotate3d(2, -1, -2, -0.2turn) translateX(10rem) translateZ(var(--translateZ));
  transition: transform 0.3s ease-in-out;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.splane:hover {
  transform: rotate3d(2, -1, -2, -0.2turn) translateX(30rem) translateY(0rem) translateZ(var(--translateZ));
}

.vecTitle {
  text-align: right;
}
